{% extends 'base.html.twig' %}

{% block title %}First project - mes ingrédients{% endblock %}

{% block body %}
<div class="container mt-4">
{% if not ingredients.items is same as ([]) %}
    <h1>Mes ingrédients</h1>

    <a href="{{path('app_ingredient_new')}}" class="btn btn-primary mt-4" >ajouter un ingredient</a>

    {% for message in app.flashes('success') %}
<div class="alert mt-4 alert-success">
{{message}}
</div>
{% endfor %}

    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Numéro</th>
      <th scope="col">Nom</th>
      <th scope="col">Prix</th>
      <th scope="col">date de création</th>
      <th scope="col">modification</th>
      <th scope="col">suppression</th>
    </tr>
  </thead>
  
  <div class="count">
    <h4> Il y a{{ ingredients.getTotalItemCount }} ingredients</h4>
</div>
  <tbody>
    {% for ingredient in ingredients %}
    <tr class="table-primary">
      <th scope="row">{{ingredient.id}}</th>
      <td>{{ingredient.name}}</td>
      <td>{{ingredient.price}}</td>
      <td>{{ingredient.createdAt|date('d/m/Y')}}</td>
      <td><a href="{{path('app_ingredient_edit', { id: ingredient.id})}}" class="btn btn-info">Modifier</a></td>
      <td><a href="{{path('app_ingredient_delete', { id: ingredient.id})}}" class="btn btn-danger">supprimer</a></td>
    </tr>
     {% endfor %} 
     </tbody>
</table>
<div class="navigation d-flex justify-content-center">
{{ knp_pagination_render(ingredients) }}
</div>
{% else %}
<h4>Il n'y a pas d'ingredients</h4>
{% endif %}
</div>
{% endblock %}
