{% extends 'base.html.twig' %}

{% block title %}First project - mes recettes{% endblock %}

{% block body %}
<div class="container mt-4">
{% if not recettes.items is same as ([]) %}
    <h1>Mes recettes</h1>

    <a href="{{path('app_recettes_new')}}" class="btn btn-primary mt-4" >ajouter une recette</a>

    {% for message in app.flashes('success') %}
<div class="alert mt-4 alert-success">
{{message}}
</div>
{% endfor %}

    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Numéro</th>
      <th scope="col">Nom</th>
      <th scope="col">temps</th>
      <th scope="col">nombre de personnes</th>
      <th scope="col">difficulté</th>
      <th scope="col">description</th>
      <th scope="col">Prix</th>
      <th scope="col">favori</th>
      <th scope="col">date de création</th>
      <th scope="col">modification</th>
      <th scope="col">suppression</th>
    </tr>
  </thead>
  
  <div class="count">
    <h4> Il y a{{ recettes.getTotalItemCount }} recette</h4>
</div>
  <tbody>
    {% for recettes in recettes %}
    <tr class="table-primary">
      <th scope="row">{{recettes.id}}</th>
      <td>{{recettes.nom}}</td>
      <td>{{recettes.time}}</td>
      <td>{{recettes.nbPeople}}</td>
      <td>{{recettes.difficulty}}</td>
      <td>{{recettes.description}}</td>
      <td>{{recettes.price}}</td>
      <td>{{recettes.isFavorite}}</td>
      <td>{{recettes.createdAt|date('d/m/Y')}}</td>
      <td>{{recettes.updatedAt|date('d/m/Y')}}</td>
      <td><a href="{{path('app_recettes_edit', { id: recettes.id})}}" class="btn btn-info">Modifier</a></td>
      <td><a href="{{path('app_recettes_delete', { id: recettesid})}}" class="btn btn-danger">supprimer</a></td>
    </tr>
     {% endfor %} 
     </tbody>
</table>
<div class="navigation d-flex justify-content-center">
{{ knp_pagination_render(recettes) }}
</div>
{% else %}
<h4>Il n'y a pas de recette</h4>
{% endif %}
</div>
{% endblock %}
